/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

/*override default styles added by the browser*/
* {
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Nuntio Sans', sans-serif;
    background-color: black;
    margin: 0;
}

h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:black
} 

h2, h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(255, 0, 0);
}

.hdden-heading{
    display: none;
}

/*Header*/
header{
    background-color: rgb(255, 0, 0);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #000000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid black;
}

/*navbar style with dropdown*/
nav{
    position: absolute;
    background-color: rgb(255, 0, 0);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/*nav toggle*/
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

/*Main*/
main{
    /*push footer down*/
    flex: 1 0 auto;
    /*add margin to top to prevent content from being covered by the header*/
    margin-top: 47px;
    /*flex properties for child elements*/
    display: flex;
    flex-direction: column;
}

.content{
    width: 95%;
    margin: 20px auto;
}

/*reasons*/
#reasons{
    width: 90%;
    margin: 20px auto;
}

#reasons h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#state-of-the-art>div{
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p{
    padding: 0 20px;
}

#benefits hr{
    border-top: 1 px solid white;
    margin: 5px 0;
}

/*Hero*/
#hero{
    height: 600px;
    width: 100%;
    background: url(../images/grabbing-dumbbells.avif) no-repeat center center/cover;
    position: relative;
}

#cover-text{
    background-color: rgba(202, 0, 0, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: white;
}

/*classes*/
.class{
    display: block;
    unicode-bidi: isolate;
    margin: 0;
}

.class-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1px;
}

.class-item{
    flex: 1 1 30%;
    background: #525252;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}

.class-item img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/*sign up*/
#signup{
    background-image: url(../images/sign-up.jpg);
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form{
    color: #fdfdfd;
    background-color: rgba(82, 82, 82, 0.7);
    padding: 30px;
}

#signup-form > h2{
    color: white;
    margin-bottom: 20px;
}

.text-input{
    background: transparent;
    color: white;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0 5px;
}

.checkbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #ca0000;
    color: white;
}

/*Footer*/
#social-networks{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(255, 0, 0);
    margin: 0;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px){
    /*Header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu{
        display: flex;
    }

    #menu>li{
        padding-left: 1rem;
    }

    .nav-toggle-label{
        display: none;
    }

    #logo{
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*main*/
    main{
        /*push content down to accomodate larger header*/
        margin-top: 79px;
    }

    /*Hero*/
    #cover-text{
        width: 300px;
        right: 50px;
    }

    /*reasons*/
    #state-of-the-art{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #state-of-the-art>div{
        width: 75%;
    }

    /*classes*/
    .class-item{
        flex: 1 1 48%;
    }

    /*signup*/
    #signup{
        background-position: center;
        position: relative;
    }

    #signup-form{
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover{
        border-color: #f16c6b;
    }

    .join-button:hover{
        background-color: white;
        color: #454b1b
    }
}

@media screen and (min-width: 992px){
    #menu a:hover{
        border-bottom: 1 solid black;
    }
}

@media screen and (min-width: 480px){
    .class-item{
        flex: 1 1 100%;
    }
}